[submodule "contract/lib/forge-std"]
	path = contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contract/lib/chainlink"]
	path = contract/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "contract/lib/openzeppelin-contracts-upgradeable"]
	path = contract/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "contract/lib/chainlink-local"]
	path = contract/lib/chainlink-local
	url = https://github.com/smartcontractkit/chainlink-local
[submodule "contract/lib/openzeppelin-contracts"]
	path = contract/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
